
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
}

.logo{
    
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 100px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list{
    width: 50%;  
    display: flex;
    align-items: center;
}

.nav-list li{
 list-style: none;
 padding: 20px 25px;
}

.nav-list li a{
 text-decoration: none;
 color: white;
 font-size: 20px;
 font-family: Ubuntu, sans-serif;
}



.rightnav{
    width: 50%; 
    text-align: right;
}

#Search{
    font-size: 18px;
    padding: 5px;
    border: 3px solid grey;
    border-radius: 20px;
}


.background{
    background: rgba(0, 0, 0, 0.7) url(/bg.jpg);
    background-size: cover;
    background-blend-mode:darken ;
}
.firstsection{
    height: 100vh;
}

.box-main{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
    
}

.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.small-btn{ 
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background: none;
    margin: 4px 2px;
    padding: 4px 1px;
    font-family: Ubuntu, sans-serif;
    width: 70px;
    font-size: 15px;
}

.btn{
    width: 140px;
    border: 2px solid white;
    border-radius:10px;
    cursor: pointer;
    color: white;
    background: none;
    margin: 4px 2px;
    padding: 4px 1px;
    font-family: 'Ubuntu', sans-serif ;
    font-size: 20px;
}

.secondhalf{
    width: 30%;
}

.secondhalf img{
    width: 80%;
    border: 4px solid white;
    border-radius: 160px;
    display: block;
    margin: auto;
}
.bigtext{
    font-size: 40px;
    
}
.smalltext{
    font-size: 20px;

}

.section{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}
.left{

    flex-direction: row-reverse;
}

.paras{
    padding: 0px 70px;
}

.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 23px;
    
}
.sectionsubtag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact{

    background-color: #f0e5d5;
    height: 100vh;
    
}
.head{
    text-align: center;
    padding: 30px;
    font-family: 'Ubuntu', sans-serif ;
    font-size: 40px;
}
.form{
    max-width: 750px;
    margin: 42px auto;
}
.form-input{
    border: 2px solid grey;
    width: 100%;
    border-radius: 6px;
    font-size: 20px;
    margin: 15px 0px;
    padding: 5px 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.darkbtn{
    color: white;
    background-color: black;
    border: 2px solid black;

}
.footer{
    
    color: white;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
